.body{
  position: relative;
  width: 1440px;
  height: 1024px;
  background-color: #F4F7F6;
  
}
.hero{
  position: absolute;
  width: 1440px;
  height: 530px;
  left: 0px;
  top: 0px;
  background-image: url(iStock-471926619-1-e1535107607184.jpg), linear-gradient(90deg, #0F2027 0%, #203A43 100%);
  border-radius: 0px 0px 24px 24px;
  
}

.para1{
  position: absolute;
  width: 520px;
  height: 19px;
  left: 160px;
  top: 288px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #E0E0E0;
  
}

.para2{
  position: absolute;
  width: 507px;
  height: 44px;
  left: 160px;
  top: calc(50% - 44px/2 - 7px);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;

  
}

.herobutton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 10px;
  position: absolute;
  width: 180px;
  height: 48px;
  left: 160px;
  top: 330px;
  background: #FF6B00;
  box-shadow: 0px 4px 12px rgba(255, 107, 0, 0.4);
  border-radius: 24px;
  
}
