.Nav{
  border-bottom: 1px #e0e0e0; 
  height: 80px;
  padding: 0px 24px;
  gap: 40px;
}

.logo{
  background-color: none;
  color: orange;
  font-family: "Fertigo", "Lapis", serif;
  font-size: 40px;
}

.Search{
  background-color: none;
  color: #28282B;
}

.Search input{
  border-radius: height/2px;
  height: 40px;
  width: 350px;
  padding: 0px 16px;
  border: 1px solid #ccc
}

.Icon{
  gap: 16px;
}

.Icon button{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px;
  background-color: #333;
  cursor: pointer;
}
